/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .user_page {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .user_header {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .user_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

 .user_item {
    display: flex;
    gap: 8px;
    border: 1px solid;
    justify-content: space-between;
    padding: 8px;
 }

 .profile {
    width: 30%;
 }

 .profile img {
    width: 100%;
    border-radius: 50%;
 }
 .user_desc {
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;

 }

 .posts_number {
    display: flex;
    justify-content: flex-end;
 }